// Iconized full screen apps menu
.o_navbar_apps_menu {
    .dropdown-toggle {
        padding: 0 !important;
        
        /* larger app menu icon, hover effect */
        .fa-th-large {
            font-size: 2rem;
            padding: 8px 16px;
            color: lighten($o-brand-odoo, 15%);
            &:hover {
                color: white;
            }
        }

    }
}

